.block{
    min-height: 330px;
    max-height: 330px;
}

.popular-header-group {
    display: table;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
}

.list-group-item a {
    text-decoration: none;
}

.popular-category {
    background-color: #000;
    float: left;
    color: #fff !important;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 75%;
    text-decoration: none !important;
    position: inherit;
}

#filter-list form {
    display: flex;
}

.popular-views {
    float: right;
    font-size: 75%;
    color: #0f0f0f;
}

.popular-body {
    display: table;
    color: #2B2A28;
    text-align: left;
    width: 100%
}

.popular-footer {
    padding-top: 5px;
    display: table;
    width: 100%;
    font-size: 60%;
}

.model_name {
    display: block;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 20px;
}

.model_info {
    display: block;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none !important;
}

.popular_title {
    font-size: 1.3em;
    display: block;
    padding: 0 5px;
}

.author {
    font-size: 10px;
    float: right;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    color: #2B2A28;
    transition: .3s;
}

.list-inline > li {
    vertical-align: middle;
}

.article-item {
    max-height: 350px;
}

.filter {
    display: none;
    width: 100%;
    margin: 0 auto;
}

.filter input, .filter select {
    border: solid 2px #DC7A23;
    background-color: #2B2A28;
    color: #DC7A23;
    font-size: 1.2em;
    vertical-align: middle;
    transition: .5s;
    padding: 0 10px;
    border-radius: 5px;
    height: 35px;
}

.filter select {
    height: 35px;
}

.filters {
    height: 45px;
    vertical-align: middle;
    position: relative;
}

#filter {
    transition: 1s;
}

.popular_img {
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 5px
}

.filters {
    z-index: 1000;
}

.iframe-media {
    margin: 0 auto;
    display: block;
    min-height: 300px;
    width: 100%
}

.media-link div {
    display: block;
    width: 100%;
    text-align: center
}

.media-link div i {
    font-size: 5em;
}

.no {
    position: absolute;
    color: red;
    padding: 3em 0;
    text-align: center;
    font-size: 5em;
    font-family: Bronx;
    width: 100%;
    height: 100%;
}
.date-a{
    position: absolute;
    top: 30px;
    right: 10px;
    color: white;
    background-color: rgba(0,0,0,.8);
    padding: 4px 5px;
    border-right: 3px solid #DC7A23;
}
.panel-footer{
    margin: -10px 0 0 0;
    min-height: 60px;
}
.tag {
    cursor: pointer;
}

.article-item {
    text-decoration: none !important;
}

.article-item:hover {
    color: #2B2A28;
}
#grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.information {
    position: absolute;
    top: 8px;
    background: white;
    padding: 5px;
    box-shadow: 0 0 5px !important;
}

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.wobble-vertical {
    display: flex;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    opacity: 0;
}
.grid-item:hover .wobble-vertical, .grid-item:focus .wobble-vertical, .grid-item:active .wobble-vertical{
    opacity: 1;
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.row{
    margin-left: -75px;
    margin-right: -75px;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.btn-all {
    background-color: #2B2A28;
    color: #DC7A23 !important;
}

.btn-all:hover {
    background-color: #989A9B;
}
@media (max-width: 1420px) {
    .row{
        margin-left: -15px;
        margin-right: -15px;
    }
}
.panel-default>.panel-heading{
    background-color: transparent !important;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
kbd{
    display: inline-block;
    margin: 1px -1px;
    cursor: pointer;
}
.btn-sm{
    margin: 3px 1px;
}
.blockquoted{
    position: relative;
}

blockquote {
    background: transparent;
    font-style: italic;
    margin: 0;
    padding: 0.5em 10px;
    text-align:right;
}

.reload-block{
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    font-size: 5em;
}
.blockquoted:hover .reload-block{
    display: flex;
}
.reload-block i{
    margin: 0 auto;
    color:#DC7A23;
    text-shadow: 0 0 30px #282a2b;
}

blockquote:before {
    color: #bbb;
    content: "\201C"; /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}

blockquote:after {
    color: #bbb;
    content: "\201D"; /* Непечатаемый символ справа */
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}

blockquote > p:first-child {
    display: inline;
}