::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(43, 42, 40, 0.8);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #DC7A23;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: justify;
    position: relative;
}

header {
    background-image: url('/images/back.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 350px;
    position: absolute;
    width: 100%;
}

footer {
    background-image: url('/images/foot.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 404px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 7;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
}

.page-scroll {
    color: #2B2A28;
    font-size: 1.5em;
    font-weight: bold;
    transition: .5s;
}

.page-scroll:hover {
    color: #dfded9;
    background-color: transparent !important;
    text-shadow: 2px 2px #DC7A23;
    transform: scale(1);
}

.nav {
    padding-top: 10px;
    text-align: center;
}

.navbar-collapse {
    background-image: url(/images/menu.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.page-image {
    width: 100%;
    display: block;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.page-image img {
    width: 100%;
    max-height: inherit;
}

@media (min-width: 768px) {
    .page-image {
        height: 250px;
    }

    .nav {
        padding-top: 10px;
    }

    .navbar-collapse {
        background: transparent;
    }

    .page-scroll:hover {
        transform: scale(1.3);
    }

    .subscribe_text {
        padding-bottom: 40px;
    }

    .btn-fucker {
        transform: rotate(5deg);
    }
}

@media (min-width: 992px) {
    .nav {
        padding-top: 50px;
    }
}

.navbar-brand > img {
    padding-left: 30px;
}

.btn-fucker {
    font-family: Roboto;
    background-image: repeating-linear-gradient(0deg, #DC9A23, #DC7A23);
    transition: .5s;

}

.btn-fucker:hover {
    transition: .5s;
    transform: scale(1.3) rotate(0deg);

    background-image: repeating-linear-gradient(0deg, #DC7A23, #DC9A23);
}

#main {
    padding-top: 0;
    margin-top: -100px;
    padding-bottom: 50px;
}

#footer {
    min-height: 250px;
    padding: 100px 0 250px 0;
    background-color: #2B2A28;
}

.list-group {
    font-size: 1.5em;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: justify;
}

p img {
    float: left;
}

.sponsors_block {
    background-color: #2B2A28;
    display: inline-block;
    opacity: .1;
    transition: .5s;
    transform: scale(.9);
}

.sponsors_block:hover {
    opacity: 1;
    transform: rotate(5deg);
}

.fr-dii {
    display: inline-block;
    padding: 10px;
    float: left !important;
}

.user-comment-block img {
    width: 100px;
    height: auto;
    -webkit-filter: sepia(75%);
}

.user-comment-block span {

}

.tag-a {
    transform: scale(0.9) !important;
    left: 0;
    bottom: 0;
}

.panel-comment {
    padding: 5px 0;
    border-color: #5b2d12;
    transition: 0.5s ease;
    display: table;
    margin: 5px 8.3%;
    cursor: pointer;
    color: #DC7A23;
    background-color: rgba(43, 42, 40, 0.8);
}

.panel-comment:hover {
    color: #2B2A28;
    background-color: rgba(220, 122, 35, 0.8);
}

.comment-text {
    width: 100%;
    height: 5em;
    font-size: 1em;
    padding: 6px 10px;
}

.comment-date {
    display: block;
    width: 100%;
    text-align: right;
    position: absolute;
    left: .5em;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    z-index: 50;
}

.b-popup .b-popup-content {
    margin: 10% auto 0;
}

.btn-fucker-a {
    transform: rotate(0deg);
}

.btn-fucker-a:hover {
    transform: scale(1.1);
}

.appender {
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
}

.comment-feedback-image {
    padding: 0;
    display: flex;
    align-items: center;
    height: 5em;
}

.comment-feedback-image img {
    display: block;
    margin: 0 auto;
}

.comment-feedback-text {
    padding: 0;
}

.comment-feedback-text textarea {
    border-color: rgba(220, 122, 35, 0.2);
    background-color: #2B2A28;
    color: #DC7A23;
    resize: none;
}

.comment-feedback-text textarea:focus {
    border-color: #DC7A23;
}

.form-group-alt {
    margin-bottom: 0;
    height: 1.6em;
}

.form-group-alt:first-child {
    border-radius: 5px 5px 0 0;
}

.form-group-alt:before, .form-group-alt:after {
    content: " ";
    display: table;
}

.form-group-alt:last-child {
    border-radius: 0 0 3px 3px;
}

.form-group-alt + .form-group-alt {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group-alt input {
    background-color: transparent !important;
    border: 0 none;
    box-sizing: border-box;
    color: #DC7A23;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1em;
    padding: 10px;
    width: 100%;
}

.btn-fucker-a i {
    display: inline-block;
    padding: 5px;
    border-right: solid #a15121 1px;
}

.form-inline img {
    max-width: 50px;
}

#comments_section {
    background-color: #2B2A28;
    padding: 0 0 25px 0;
}

#comments_section h2 {
    color: #DC7A23;
}

#comments_section h2 > i {
    color: #FF9F23;
}

.page_title_main {
    font-family: Roboto;
    color: #656565;
    font-size: 5em;
    max-height: 75px;
    overflow: hidden;
    font-weight: bolder;
}

.header {
    min-height: 200px;
    padding: 0;
    background-color: #2B2A28;
    border-bottom: solid 10px #ba6c1d;
}

.bronx {
    font-family: Roboto;
}

.tag-a {
    text-decoration: none;
    font-weight: bold;
    position: initial;
}

.liked {
    color: #DC9A23;
    transform: scale(1.2);
}

.article_date {
    float: right;
    margin-top: -10px;
}

.loadContent {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 5em;
    z-index: 9;
}

.loadContent i {
    margin: 0 auto;
}

.page-blocker {
    margin: 0 auto;
    display: block;
}

.page-image {
    margin: 0 auto;
}

.tags {
    padding-bottom: 20px;
}

.btn-login {
    float: right;
}

.b-popup {
    z-index: 999
}

.facebook-link {
    text-decoration: none;
}

.btn-facebook {
    font-size: 14px;
    padding: 0
}

.btn-vk {
    font-size: 14px;
    padding: 0
}

.facebook-div {
    display: inline-block;
    padding: 5px 10px;
    border-right: solid 1px rgba(255, 255, 255, .3)
}

.facebook-div-text {
    display: inline-block;
    padding: 5px 10px;
}

.padding-5 {
    padding: 5px
}