
comment {
    display: block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px #DC7A23;
    transition: .5s;
}

comment:hover {
    transition: .5s;
    box-shadow: 0 0 10px #DC7A23;
}

comment .head {
    display: block;
    position: relative;
    min-height: 50px;
    padding: 15px 20px 0;
}

comment .head .author {
    width: 65px;
    height: 65px;
    display: block;
    float: left;
}

comment .head .author img {
    vertical-align: top;
}

comment .head .name {
    margin-left: 75px;
    padding-top: 8px;
    color: #DC7A23;
}

comment .head .name .user {
    line-height: 16px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

comment .head .name .date {
    font-size: 12px;
    padding-top: 2px;
}

comment .body {
    display: block;
    padding: 20px 0 0;
    color: #DC7A23;
}

comment .body .comment {
    word-wrap: break-word;
    text-overflow: ellipsis;
    position: relative;
    padding: 8px 20px 19px;
    display: block
}

.btn-facebook {
    background-color: #3B5998;
    border-color: #3B5998;
    transition: .5s;
    color: #FFFFFF;
}

.btn-facebook:hover {
    background-color: #2C4372;
    border-color: #2C4372;
    color: #FFFFFF;
}

.panel-pit {
    border-color: #D72;
    background-color: #2b2a28;
    color: #DC7A23;
}

.panel-pit > .panel-heading {
    background-color: #DC7A23;
    border-color: #D72;
    color: #2b2a28;
}

.btn-closer {
    display: inline-block;
    float: right;
    box-shadow: 0 0 2px;
    border-radius: 50%;
    transition: .5s;
    height: 34px;
    width: 34px;
    padding: 5px 10px;
}

.btn-closer:hover {
    box-shadow: 0 0 10px;
}

.btn-login {
    background-color: #DC7A23;
    border-color: #D72;
    color: #282a2b;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: bold;
    transition: .5s;
}

.btn-login:hover {
    background-color: #DC9A23;
    border-color: #D92;
}

user {
    width: 100%;
    height: 50px;
    display: table;
    padding: 0;
}

user avatar {
    display: table-cell;
    width: 50px;
    height: 50px;
}

user avatar img {
    float: left;
}

user text {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 10px;
    margin: 0;
    height: 100%;
    color: #DC7A23;
}

user text input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: transparent;
    padding: 5px 10px;
}

user text input::-webkit-input-placeholder {
    color: #DC7A23;
}

user text input::-moz-placeholder {
    color: #DC7A23;
}

/* Firefox 19+ */
user text input:-moz-placeholder {
    color: #DC7A23;
}

/* Firefox 18- */
user text input:-ms-input-placeholder {
    color: #DC7A23;
}

user text textarea {
    height: 150px;
    width: 100%;
    background-color: transparent;
    border: transparent;
    padding: 5px 10px;
    resize: vertical;
}

.info-block {
    float: right;
    display: inline-block;
    font-size: .8em;
    margin-top: -7px;
}

.section {
    transition: .5s;
    display: inline-block;
}

.like:hover {
    color: #DC9A23;
    transform: scale(1.1);
}

.like {
    cursor: pointer;
}

#like {
    display: inline-block
}

#likes_count {
    display: inline-block
}

.fa-thumbs-down {
    transform: scale(1.5);
    color: #dc000b;
}

.author img {
    -webkit-filter: sepia(75%);
    filter: sepia(75%);
}

avatar img {
    -webkit-filter: sepia(75%);
    filter: sepia(75%);
}

.comment-text {
    padding: 15px 10px 5px 10px;
}

.comment-text::-webkit-input-placeholder {
    color: #DC7A23;
}

.comment-text::-moz-placeholder {
    color: #DC7A23;
}

.comment-text:-moz-placeholder {
    color: #DC7A23;
}

.comment-text:-ms-input-placeholder {
    color: #DC7A23;
}

.comment-text:focus {
    outline: none;
}

.comment-text:focus::-webkit-input-placeholder {
    color: transparent
}

.comment-text:focus::-moz-placeholder {
    color: transparent
}

.comment-text:focus:-moz-placeholder {
    color: transparent
}

.comment-text:focus:-ms-input-placeholder {
    color: transparent
}

.page-header {
    margin: 0;
    padding: 0px 10px 15px 10px;
}

.tag {
    position: inherit;
    display: inline-block;
}

.article_date {
    float: left;
    color: #2B2A28;
    opacity: .7;
    font-size: .9em;
    transition: .5s;
}

.article_date:hover {
    opacity: 1;
}

.page-blocker {
    position: relative;
}

.well {
    padding: 10px 0 !important;
}

.text {
    display: table;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
}

p {
    font-size: .9em;
}

.panel-body-a {
    padding: 0;
}

.list-group-item {
    border-radius: 0;
    border-left: solid 5px transparent;
}

.list-group-item:hover {
    border-left: solid 5px #DC7A23;
    background-color: rgba(43, 42, 40, 0.21);
}

img.full {
    width: 100%;
}

.jconfirm-bg {
    background-color: #2B2A28;
    opacity: .95 !important;
}

.jconfirm-box {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #ff8f26;
}

.comments {
    background-color: #282a2b;
    margin-bottom: -10px;
    padding: 5px 15px;
    color: #ff8f26;
}

.reply {
    background: transparent;
    line-height: 14px;
    padding: 0 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    -o-transition: background-color 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.reply .reply_wrap {
    padding: 10px 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

.reply_image {
    display: block;
    float: left;
}

.reply_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
}

.reply_content {
    margin-left: 65px;
    word-wrap: break-word;
    min-height: 34px;
}

.reply_author {
    font-size: 12.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reply_text {
    padding: 2px 0 0;
}

.reply_footer {
    font-size: 12.5px;
    padding: 3px 0 0;
    margin-bottom: -1px;
}

.clear_fix {
    display: block;
}

.author-a {
    font-weight: bold;
    -webkit-font-smoothing: subpixel-antialiased;
}

.reply_date {
    float: left;
    padding-right: 8px;
    color: #939393;
}

.comments {
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}
