.faqer {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: block;
    height: 495px;
    position: fixed;
    right: 70px;
    width: 600px;
    transition: .5s;
    z-index: 9999999;
}

.faqer-collapsed {
    height: 40px !important;
    width: 250px !important;
    overflow: hidden;
}
.faqer-collapsed  .close{
    transform: rotate(180deg);
}

.faqer .header {
    background-color: #282a2b;
    clear: both;
    color: #DC7A23;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    height: 41px;
    min-height: 41px !important;
}

.faqer .header .pull-left {
    float: left;
}

.faqer .header .pull-right {
    float: right;
}

.close {
    transition: .5s;
    margin: 0;
    padding: 5px;
    line-height: 1;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: none;
    border: 0;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.faqer .body {
    background: #f8fafb none repeat scroll 0 0;
    color: #282a2b;
    height: 393px;
    overflow: auto;
    box-sizing: border-box;
}

.faqer .title {
    width: auto;
    display: block;
    padding: 5px;
    background-color: #dc7a23;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Pangolin', cursive;
    margin-bottom: 0;
}
.faqer .question-answer-block{
    display: block;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 1px;
    transition: .5s;
    cursor: pointer;
}
.faqer .question-answer-block:hover{
    box-shadow: 0 0 5px;
}
.faqer .question-answer-block .question{
    margin: -5px -5px 5px;
    padding: 5px;
    background-color: #f8deb9;
    font-size: 1.1em;
    font-family: 'Pangolin', cursive;
}
.faqer .question-answer-block .answer{
    display: block;
    border-top: solid 1px;
    margin-top: 15px;
}
.faqer .question-answer-block .extended{
    font-size: 1em;
}

.faqer .body .questions {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
}

.faqer .asker {
    background: #282a2b;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.faqer .asker input[type="text"] {
    border-bottom: 1px solid #b2b2b2 !important;
    margin: 7px;
    padding: 5px !important;
    border: medium none;
    width: 95% !important;
    background: #282a2b;
    color: #DC7a23;
}

.faqer .asker input[type="button"] {
    margin: 7px;
    padding: 5px !important;
    background: #282a2b;
    color: #DC7a23;
    border: none;
    cursor: pointer;
    float: right;
    font-family: 'Audiowide', cursive;
}

.big_title{
    font-family: 'Pangolin', cursive;
}