#container {
    position: absolute;
    width: 140px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px -50px -70px;
}

.circle {
    border-color: #DC7A23;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.big-circle {
    width: 60px;
    height: 60px;
    background-color: #2B2A28;
    border-width: 5px;
    border-radius: 32.5px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
}

.inr-circle {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    border-width: 2px;
    top: 23.75px;
    left: 23.75px;
    width: 0px;
    height: 0px;
    border-radius: 2.5px;
}
.inr-circle:nth-child(1) {
    -webkit-animation-name: circle-grow;
    animation-name: circle-grow;
}
.inr-circle:nth-child(2) {
    -webkit-animation-name: circle-grow2;
    animation-name: circle-grow2;
}

.bar {
    background-color: #DC7A23;
    height: 5px;
    border-radius: 2.5px;
    margin-bottom: 10px;
}

.top-bar, .btm-bar {
    width: 116.66667px;
    margin-left: 11.66667px;
}

.top-bar {
    margin-top: 12.5px;
}

@-webkit-keyframes circle-grow {
    0% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    50% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
    100% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
}

@keyframes circle-grow {
    0% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    50% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
    100% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
}
@-webkit-keyframes circle-grow2 {
    0% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    25% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    75% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
    100% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
}
@keyframes circle-grow2 {
    0% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    25% {
        top: 23.75px;
        left: 23.75px;
        width: 0px;
        height: 0px;
        border-radius: 2.5px;
    }
    75% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
    100% {
        top: -2.5px;
        left: -2.5px;
        width: 56.66667px;
        height: 56.66667px;
        border-radius: 30px;
    }
}